AddDefaultCharset utf-8

# Disable ServerTokens only in the server config !!!
# Disable your Apache version number from showing up in HTTP headers for added security.
#------------------------------
ServerSignature Off

<IfModule mod_access.c>
# Set timezone for your server. A list of supported timezone can be found at
# http://www.php.net/manual/en/timezones.php
#------------------------------
SetEnv TZ Europe/Bratislava
</IfModule>

<IfModule mod_rewrite.c>
#Options +FollowSymlinks
RewriteEngine on
RewriteBase /

#// REDIRECT ALL TO HTTPS //
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Serve pre-compressed Brotli assets
RewriteCond %{HTTP:Accept-Encoding} br
RewriteCond %{REQUEST_FILENAME}.br -f
RewriteRule ^(.*)$ $1.br [L]

# To externally redirect /dir/foo.php to /dir/foo/
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R,L]
# To internally redirect /dir/foo/ to /dir/foo.php
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(.*?)/?$ $1.php [L]

</IfModule>

<IfModule mod_headers.c>

# SECURITY HEADERS
#------------------------------
#Header set Strict-Transport-Security "max-age=157680000; includeSubDomains"
Header set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
Header always set X-Content-Type-Options "nosniff"
Header always set X-XSS-Protection "0"
Header always set X-Frame-Options "sameorigin"
Header set Content-Security-Policy "default-src 'none'; \
  font-src https://fonts.gstatic.com data:; \
  frame-src https://www.google.com https://www.youtube.com; \
  img-src 'self' https://dummyimage.com https://picsum.photos https://i.picsum.photos; \
  media-src data:; \
  style-src 'self' https://fonts.googleapis.com https://github.githubassets.com; \
  style-src-attr 'unsafe-inline'; \
  style-src-elem 'self' 'unsafe-inline' https://github.githubassets.com; \
  script-src 'nonce-kSh6lWWYeduy8lJeus4PYw==' 'unsafe-inline'; \
  script-src-elem 'self' https://gist.github.com; \
  worker-src 'self'; \
  manifest-src 'self'; \
  connect-src 'self' https://dummyimage.com https://picsum.photos https://i.picsum.photos https://gist.github.com https://github.githubassets.com https://zwieratko.report-uri.com; \
  form-action 'self'; \
  frame-ancestors 'none'; \
  base-uri 'none'; \
  report-to default; \
  report-uri https://zwieratko.report-uri.com/r/d/csp/enforce;"
Header set Report-To "{\"group\":\"default\",\"max_age\":31536000,\"endpoints\":[{\"url\":\"https://zwieratko.report-uri.com/a/d/g\"}],\"include_subdomains\":true}"
Header set Feature-Policy "accelerometer 'none'; autoplay 'none'; camera 'none'; geolocation 'self'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'"
Header set Permissions-Policy "accelerometer=(), autoplay=(), camera=(), geolocation=(self), gyroscope=(), magnetometer=(), microphone=(), payment=(), serial=(), usb=()"
Header set Referrer-Policy "no-referrer-when-downgrade"
Header set Expect-CT "enforce, max-age=3600, report-uri=https://zwieratko.report-uri.com/r/d/ct/enforce"
Header set NEL "{\"report_to\":\"default\",\"max_age\":31536000,\"include_subdomains\":true}"
Header set Cross-Origin-Embedder-Policy require-corp; report-to="default"
Header set Cross-Origin-Opener-Policy same-origin; report-to="default"
Header set Cross-Origin-Resource-Policy same-origin
Header set Clear-Site-Data: "cookies"
Header set X-Permitted-Cross-Domain-Policies none
Header always unset Server
Header always unset X-Powered-By
# Disable ETag
Header always unset ETag
FileETag None

# Expires and Cache
#month
<filesMatch "\.(ico|jpe?g|png|gif|swf|svg|webp)$">
Header set Cache-Control "max-age=2592000, public, stale-while-revalidate=86400, stale-if-error=604800"
</filesMatch>
#week
<filesMatch "\.(css|js)\.br$">
Header set Cache-Control "max-age=604800, public, stale-while-revalidate=86400, stale-if-error=604800"
</filesMatch>
#00day
<filesMatch "\.(x?html?|php)\.br$">
Header always set Cache-Control "private, no-cache, no-store, no-transform, must-revalidate, proxy-revalidate, max-age=0"
Header always set Pragma "no-cache"
Header always set Expires 0
</filesMatch>

# Specify Brotli-encoded assets
<Files *.js.br>
    AddType "text/javascript" .br
    AddEncoding br .br
</Files>
<Files *.css.br>
    AddType "text/css" .br
    AddEncoding br .br
</Files>
<Files *.svg.br>
    AddType "image/svg+xml" .br
    AddEncoding br .br
</Files>
<Files *.html.br>
    AddType "text/html" .br
    AddEncoding br .br
</Files>

</IfModule>
